@model IEnumerable<CarBlogApp.Models.Post>;

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
{
    <div class="media">
        <div class="media-img">
            <img src=@item.Img />
        </div>

        <div class="media-text">
            <h2>@Html.ActionLink(@item.Title, "ShowFullPost", "Home", new {item.Id})</h2>
            <div class="media-info">
                <span>Author: @item.Author</span><br />
                <span>Published: @item.Date </span>
            </div>
            <p>
                @item.Description
            </p>
        </div>
    </div>
}
