@model IEnumerable<CarBlogApp.Models.Post>;

@{
    ViewData["Title"] = "Posts by category";
}

@foreach (var post in Model)
{
    <div class="media">
        <div class="media-img">
            <img src=../@post.Img />
        </div>

        <div class="media-text">
            <h2>@Html.ActionLink(@post.Title, "ShowFullPost", "Home", new { post.Id })</h2>
            <div class="media-info">
                <span>Author: @post.Author</span><br />
                <span>Published: @post.Date </span>
            </div>
            <p>
                @post.Description
            </p>
        </div>
    </div>
}
