@model CarBlogApp.Areas.Admin.Models.CreatePostViewModel;

@{
    ViewData["Title"] = "Add new post";
}

<div class="contact">

    <h3>Add new post, please</h3>

    @using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="group">
            <p>
                @Html.LabelFor(m => m.Post!.Title)
                @Html.EditorFor(m => m.Post!.Title)
                @Html.ValidationMessageFor(m => m.Post!.Title)
            </p>

            <p>
                <label asp-for="ImageFile"></label>
                <input asp-for="ImageFile" type="file" />
                @Html.ValidationMessageFor(m => m.ImageFile)
            </p>

            <p>
                @Html.LabelFor(m => m.Post!.Description)
                @Html.TextAreaFor(m => m.Post!.Description)<br />
                @Html.ValidationMessageFor(m => m.Post!.Description)
            </p>

            <p>
                @Html.LabelFor(m => m.Post!.Body)
                @Html.TextAreaFor(m => m.Post!.Body)
                @Html.ValidationMessageFor(m => m.Post!.Body)
            </p>

            <p>
                @Html.LabelFor(m => m.Post!.Author)
                @Html.EditorFor(m => m.Post!.Author)
                @Html.ValidationMessageFor(m => m.Post!.Author)
            </p>

            <p>
                @Html.LabelFor(m => m.Post!.Date)
                @Html.EditorFor(m => m.Post!.Date)
                @Html.ValidationMessageFor(m => m.Post!.Date)
            </p>

            <p>
                @Html.LabelFor(m => m.Post!.Category)
                @Html.DropDownListFor(m => m.Post!.CategoryId, Model.Categories, "-- Select Category --", null)<br />
                @Html.ValidationMessageFor(m => m.Post!.CategoryId)
            </p>

        </div>
        @Html.ValidationSummary(true)
        <input class="button" type="submit" value="Submit" />
    }

</div>