@model CarBlogApp.Areas.Admin.Models.CreatePostViewModel;

@{
    ViewData["Title"] = "Add new post";
}

<div class="contact">

    <h3>Add new post, please</h3>

    @using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="group">
            <p>
                @Html.LabelFor(m => m.Post!.Title)
                @Html.EditorFor(m => m.Post!.Title)
                <small>@Html.ValidationMessageFor(m => m.Post!.Title)</small>
            </p>

            <p>
                <label asp-for="ImageFile"></label><br />
                <input asp-for="ImageFile" type="file" /><br />
                <small><em>Image requirements: 275 x 183 px <br /> Format: *.jpg</em></small>
                <small>@Html.ValidationMessageFor(m => m.ImageFile)</small>
            </p>

            <p>
                @Html.LabelFor(m => m.Post!.Description)
                @Html.TextAreaFor(m => m.Post!.Description)<br />
                <small>@Html.ValidationMessageFor(m => m.Post!.Description)</small>
            </p>

            <p>
                @Html.LabelFor(m => m.Post!.Body)
                @Html.TextAreaFor(m => m.Post!.Body)
                <small>@Html.ValidationMessageFor(m => m.Post!.Body)</small>
            </p>

            <p>
                @Html.LabelFor(m => m.Post!.Author)
                @Html.EditorFor(m => m.Post!.Author)
                <small>@Html.ValidationMessageFor(m => m.Post!.Author)</small>
            </p>

            <p>
                @Html.LabelFor(m => m.Post!.Date)
                @Html.EditorFor(m => m.Post!.Date)
                <small>@Html.ValidationMessageFor(m => m.Post!.Date)</small>
            </p>

            <p>
                @Html.LabelFor(m => m.Post!.Category)
                @Html.DropDownListFor(m => m.Post!.CategoryId, Model.Categories, "-- Select Category --", null)<br />
                <small>@Html.ValidationMessageFor(m => m.Post!.CategoryId)</small>
            </p>

        </div>
        @Html.ValidationSummary(true)
        <input class="button" type="submit" value="Submit" />
    }

</div>