@model IEnumerable<CarBlogApp.Models.Post>

@{
    ViewData["Title"] = "Admin Panel";
}

<p>
    @Html.RouteLink("Add new post", "admin", new { area = "Admin", controller = "Admin", action = "AddPost" })
</p>

@if (ViewBag.IsPostAdded == true)
{
    <div class="notifications-success">
        <small>Post was added successfully</small>
    </div>
}

@if (ViewBag.IsPostAdded == false)
{
    <div class="notifications-warning">
        <small>Post was not added! Please try again</small>
    </div>
}

@if (ViewBag.IsUpdated == true)
{
    <div class="notifications-success">
        <small>Post was updated successfully</small>
    </div>
}

@if (ViewBag.IsUpdated == false)
{
    <div class="notifications-warning">
        <small>Post was not updated! Please try again</small>
    </div>
}

@if (ViewBag.IsDeleted == true)
{
    <div class="notifications-success">
        <small>Post was deleted successfully</small>
    </div>
}

@if (ViewBag.IsDeleted == false)
{
    <div class="notifications-warning">
        <small>Post was not deleted! Please try again</small>
    </div>
}

<table class="table-centered">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Category</th>
        <th>Date</th>
        <th>Author</th>
        <th>Actions</th>
    </tr>

    @foreach (var post in Model)
    {
        <tr>
            <td>@post.Id</td>
            <td>@post.Title</td>
            <td>@post.Category?.Name</td>
            <td>@post.Date.ToShortDateString()</td>
            <td>@post.Author</td>
            <td>
                @Html.RouteLink("Edit", "admin", new { area = "Admin", controller = "Admin", action = "EditPost", id = post.Id })
                @Html.RouteLink("Delete", "admin", new { area = "Admin", controller = "Admin", action = "DeletePost", id = post.Id })
            </td>
        </tr>
    }
</table>