@model IEnumerable<CarBlogApp.Models.Category>;

@{
    ViewData["Title"] = "Categories";
}

<p>
    @Html.RouteLink("Add Category", "admin", new{ area = "Admin", controller = "Admin", action = "AddCategory" })
</p>

<table class="table-centered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Post's</th>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
            <td>@category.Posts?.Capacity</td>
            <td>
                @Html.ActionLink("Edit","Edit", new {id = category.Id})
                @Html.ActionLink("Delete","Delete", new {id = category.Id})
            </td>
        </tr>
    }
</table>