@model IEnumerable<CarBlogApp.Models.Category>;

@{
    ViewData["Title"] = "Categories";
}

<p>
    @Html.RouteLink("Add Category", "admin", new { area = "Admin", controller = "Admin", action = "AddCategory" })
</p>

@if (ViewBag.IsAdded == true)
{
    <div class="notifications-success">
        <small>Category was added successfully</small>
    </div>
}

@if (ViewBag.IsAdded == false)
{
    <div class="notifications-warning">
        <small>Such category exist! Please choose another one</small>
    </div>
}

@if (ViewBag.IsDeleted == true)
{
     <div class="notifications-success">
        <small>Category was deleted successfully</small>
    </div>
}

@if (ViewBag.IsDeleted == false)
{
    <div class="notifications-warning">
        <small>There is no such a category!</small>
    </div>
}

@if (ViewBag.IsEdited == true)
{
    <div class="notifications-success">
        <small>Category was updated successfully</small>
    </div>
}


<table class="table-centered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Post's</th>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
            <td>@category.Posts?.Capacity</td>
            <td>
                @Html.RouteLink("Edit", "admin", new {area = "Admin", controller="Admin", action="EditCategory", id = category.Id})
                @Html.RouteLink("Delete", "admin", new {area = "Admin", controller="Admin", action="OnDeleteCategory", id = category.Id})
            </td>
        </tr>
    }
</table>